In [3]:
import time
import datetime
import pandas
import numpy as np
import random
# from yahoo_finance import Shareb
from pandas.tseries.offsets import BDay
from pandas_datareader import data, wb
import pandas_datareader.data as web

In [4]:
from bokeh.io import output_notebook, show, output_file,save
output_notebook()

In [5]:
strategies ={'ethical':['TSLA','PBW','SCTY','AAPL'], 'growth':['CRM','TWLO','NVDA'], 'index':['SPY','VTI','VWO','VBR'], 'quality':['FB', 'XOM','COST','HD'],'value':['AMZN','MSFT','NFLX','DIS']}

In [7]:
list_of_lists=strategies.values()
fullstocklist = [val for sublist in list_of_lists for val in sublist]

In [8]:
fullstocklist

['TSLA',
 'PBW',
 'SCTY',
 'AAPL',
 'CRM',
 'TWLO',
 'NVDA',
 'FB',
 'XOM',
 'COST',
 'HD',
 'AMZN',
 'MSFT',
 'NFLX',
 'DIS',
 'SPY',
 'VTI',
 'VWO',
 'VBR']

In [9]:
#set dates

enddate = datetime.datetime.now().date()- BDay(1)
startdate = enddate - BDay(4)
print startdate, enddate

2016-11-14 00:00:00 2016-11-18 00:00:00

User action:
Input dollar amount to invest in USD (Minimum is $5000 USD)
Pick one or two investment strategies:
Ethical Investing
Growth Investing
Index Investing
Quality Investing
Value Investing

##ethichal investing
SCTY, TSLA, AAPL, 
##growth investing

##index investing

##value investing

In [10]:
df = web.DataReader(fullstocklist,'yahoo',enddate - BDay(4), enddate)
df_historical = df.to_frame()

In [14]:
def getname(li):
    df = []
    for i in li:
        df.append(web.get_components_yahoo(i))
    return pd.concat(df)

In [79]:
#df_info = getname(fullstocklist)
#df_info=df_info.reset_index()

In [22]:
df_historical=df_historical.reset_index()
df_historical.head()

,index,Date,minor,Open,High,Low,Close,Volume,Adj Close
0,0,2016-11-14,AAPL,107.709999,107.809998,104.080002,105.709999,50872500,105.709999
1,1,2016-11-14,AMZN,745.510010,746.000000,710.099976,719.070007,7283200,719.070007
2,2,2016-11-14,COST,150.919998,152.139999,149.500000,152.000000,3890800,152.000000
3,3,2016-11-14,CRM,74.910004,75.040001,72.540001,72.760002,7207600,72.760002
4,4,2016-11-14,DIS,97.559998,98.309998,97.449997,97.919998,13181000,97.919998

In [23]:
df_historical.rename(columns={'minor':'ticker','Date':'date','Adj Close':'close','Volume':'volume'},inplace=True)

In [32]:
df_sqlready = df_historical[['date', 'ticker', 'volume','close']]

In [36]:
df_sqlready.head()

        date ticker    volume       close
0 2016-11-14   AAPL  50872500  105.709999
1 2016-11-14   AMZN   7283200  719.070007
2 2016-11-14   COST   3890800  152.000000
3 2016-11-14    CRM   7207600   72.760002
4 2016-11-14    DIS  13181000   97.919998

In [47]:
cd stocksite/

/Users/sliu/Dropbox/StockPortfolioSuggestionEngine/stocksite

In [52]:
from stocksite import settings

user = settings.DATABASES['default']['USER']
password = settings.DATABASES['default']['PASSWORD']
database_name = settings.DATABASES['default']['NAME']

In [68]:
database_url = 'mysql://{user}:{password}@localhost/{database_name}'.format(
    user=user,
    password=password,
    database_name=database_name,
)

In [69]:
database_url

'mysql://root:csanalytics@localhost/slocal'

In [66]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')

In [70]:
engine = create_engine(database_url, echo=False)

In [76]:
from stockengine.models import stockportfolio

In [83]:
df_sqlready.to_sql('stockportfolio123', con=engine, if_exists='replace')

In [81]:
#getting today's quote
df_today=web.get_quote_yahoo(fullstocklist)

In [82]:
df_today

          PE change_pct    last short_ratio    time
TSLA     N/A     -1.93%  185.02        6.69  4:00pm
PBW      N/A     +0.28%    3.67         N/A  8:00pm
SCTY     N/A     -0.29%   20.34        9.38  4:00pm
AAPL   13.24     +0.10%  110.06        1.66  4:00pm
CRM   263.63     +3.43%   77.77        1.88  4:00pm
TWLO     N/A     +4.74%   36.88        0.92  4:02pm
NVDA   47.71     +1.05%   93.36         8.5  4:00pm
FB     45.11     -0.65%  117.02        1.24  4:00pm
XOM    39.93     +0.06%   85.28        5.71  4:00pm
COST   28.21     -0.56%  150.36        3.65  4:00pm
HD     20.83     -0.47%  128.33        1.87  4:01pm
AMZN  174.15     +0.50%  760.16        1.41  4:00pm
MSFT    28.9     -0.48%   60.35        1.73  4:00pm
NFLX  311.38     +0.16%  115.21        2.38  4:00pm
DIS    17.14     -1.14%   98.24        4.67  4:01pm
SPY      N/A     -0.22%  218.50         N/A  8:00pm
VTI      N/A     -0.19%  112.77         N/A  8:00pm
VWO      N/A     -0.23%   35.38         N/A  8:00pm
VBR      N/A     +0.15%  116.39         N/A  8:00pm

In [84]:
from django.db import connection

In [94]:
with connection.cursor() as c:
    c.execute('SELECT date from stockportfolio123 order by date desc limit 1')
    x = c.fetchall()

In [104]:
x[0][0].date() == enddate.date()

True

In [103]:
enddate

Timestamp('2016-11-18 00:00:00')