In [3]:
import time
import datetime
import pandas
import numpy as np
import random
# from yahoo_finance import Shareb
from pandas.tseries.offsets import BDay
from pandas_datareader import data, wb
import pandas_datareader.data as web

In [4]:
from bokeh.io import output_notebook, show, output_file,save
output_notebook()

In [5]:
strategies ={'ethical':['TSLA','PBW','SCTY','AAPL'], 'growth':['CRM','TWLO','NVDA'], 'index':['SPY','VTI','VWO','VBR'], 'quality':['FB', 'XOM','COST','HD'],'value':['AMZN','MSFT','NFLX','DIS']}

In [7]:
list_of_lists=strategies.values()
fullstocklist = [val for sublist in list_of_lists for val in sublist]

In [8]:
fullstocklist

['TSLA',
 'PBW',
 'SCTY',
 'AAPL',
 'CRM',
 'TWLO',
 'NVDA',
 'FB',
 'XOM',
 'COST',
 'HD',
 'AMZN',
 'MSFT',
 'NFLX',
 'DIS',
 'SPY',
 'VTI',
 'VWO',
 'VBR']

In [9]:
#set dates

enddate = datetime.datetime.now().date()- BDay(1)
startdate = enddate - BDay(4)
print startdate, enddate

2016-11-14 00:00:00 2016-11-18 00:00:00

User action:
Input dollar amount to invest in USD (Minimum is $5000 USD)
Pick one or two investment strategies:
Ethical Investing
Growth Investing
Index Investing
Quality Investing
Value Investing

##ethichal investing
SCTY, TSLA, AAPL, 
##growth investing

##index investing

##value investing

In [10]:
df = web.DataReader(fullstocklist,'yahoo',enddate - BDay(4), enddate)
df_historical = df.to_frame()

In [14]:
def getname(li):
    df = []
    for i in li:
        df.append(web.get_components_yahoo(i))
    return pd.concat(df)

In [17]:
df_info = getname(fullstocklist)
df_info

                                   name exchange
ticker
TSLA                 Tesla Motors, Inc.      NMS
PBW     PowerShares WilderHill Clean En      PCX
SCTY              SolarCity Corporation      NMS
AAPL                         Apple Inc.      NMS
CRM     Salesforce.com Inc Common Stock      NYQ
TWLO    Twilio Inc. Class A Common Stoc      NYQ
NVDA                 NVIDIA Corporation      NMS
FB                       Facebook, Inc.      NMS
XOM     Exxon Mobil Corporation Common       NYQ
COST       Costco Wholesale Corporation      NMS
HD      Home Depot, Inc. (The) Common S      NYQ
AMZN                   Amazon.com, Inc.      NMS
MSFT              Microsoft Corporation      NMS
NFLX                      Netflix, Inc.      NMS
DIS     Walt Disney Company (The) Commo      NYQ
SPY                        SPDR S&P 500      PCX
VTI     Vanguard Total Stock Market ETF      PCX
VWO     Vanguard FTSE Emerging Markets       PCX
VBR     Vanguard Small-Cap Value ETF -       PCX

In [22]:
df_historical=df_historical.reset_index()
df_historical.head()

,index,Date,minor,Open,High,Low,Close,Volume,Adj Close
0,0,2016-11-14,AAPL,107.709999,107.809998,104.080002,105.709999,50872500,105.709999
1,1,2016-11-14,AMZN,745.510010,746.000000,710.099976,719.070007,7283200,719.070007
2,2,2016-11-14,COST,150.919998,152.139999,149.500000,152.000000,3890800,152.000000
3,3,2016-11-14,CRM,74.910004,75.040001,72.540001,72.760002,7207600,72.760002
4,4,2016-11-14,DIS,97.559998,98.309998,97.449997,97.919998,13181000,97.919998

In [23]:
df_historical.rename(columns={'minor':'ticker','Date':'date','Adj Close':'close','Volume':'volume'},inplace=True)

In [32]:
df_sqlready = df_historical[['date', 'ticker', 'volume','close']]

In [36]:
df_sqlready.head()

        date ticker    volume       close
0 2016-11-14   AAPL  50872500  105.709999
1 2016-11-14   AMZN   7283200  719.070007
2 2016-11-14   COST   3890800  152.000000
3 2016-11-14    CRM   7207600   72.760002
4 2016-11-14    DIS  13181000   97.919998

In [47]:
cd stocksite/

/Users/sliu/Dropbox/StockPortfolioSuggestionEngine/stocksite

In [52]:
from stocksite import settings

user = settings.DATABASES['default']['USER']
password = settings.DATABASES['default']['PASSWORD']
database_name = settings.DATABASES['default']['NAME']

In [55]:
database_url = 'mysql://{user}:{password}@localhost:/{database_name}'.format(
    user=user,
    password=password,
    database_name=database_name,
)

In [56]:
database_url

'mysql://root:csanalytics@localhost:/slocal'

In [57]:
engine = create_engine(database_url, echo=False)

NameError: name 'create_engine' is not defined

In [ ]:
df_sqlready.to_sql(stockportfolio, con=engine)

In [60]:
from django.db.backends import mysql